* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eceef1;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
}

/* Global settings */

.flex-vertical {
  display: flex;
  flex-direction: column;
}

.flex-horizontal {
  display: flex;
}

/* Main Section */

main {
  width: 350px;
}
figure {
  justify-content: center;
}

form {
  background-color: white;
}

.logo {
  width: 100px;
  height: auto;
}

.icons {
  height: 23px;
  width: auto;
}

.icons-div {
  color: #6b6c72;
  padding: 20px 15px;
  justify-content: center;
}

.icons-div img {
  padding: 0 5px;
}

