* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eceef1;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
}

/* Global settings */

.flex-vertical {
  display: flex;
  flex-direction: column;
}

.flex-horizontal {
  display: flex;
}

.font-medium {
  font-size: 12px;
}

.font-small {
  font-size: 10px;
}

.buttons {
  background-color: #0077c5;
  border: 1px solid #4c4c4c;
  border-radius: 5px;
  color: white;
  font-size: 16px;
}

/* header */

header {
  position: absolute;
  right: 0;
}

.blue-text {
  color: #0077d0;
}

.header-para {
  padding: 20px 5px;
  font-size: 14px;
}

/* Main Section */

main {
  width: 400px;
}
figure {
  justify-content: center;
}

.logo {
  width: 100px;
  height: auto;
}

.icons {
  height: 23px;
  width: auto;
}

.icons-div {
  color: #6b6c72;
  padding: 20px 15px;
  justify-content: center;
}

.icons-div img {
  padding: 0 5px;
}

/* Form */

form {
  background-color: white;
  align-items: center;
  padding: 0 35px;
}

form legend {
  font-size: 22px;
  padding: 40px 20px 10px 20px;
}

.learn-more {
  text-decoration: none;
  font-size: 14px;
}

form p {
  text-align: center;
  font-size: 16px;
  padding: 0 20px;
}

fieldset {
  border: none;
}

fieldset label {
  padding: 30px 0 5px 0;
}

fieldset input {
  border-radius: 5px;
  height: 28px;
  border: 1px solid #c1c5c8;
}

.phone-rates {
  padding-top: 5px;
}

.submit-btn {
  margin: 30px 0;
  padding: 7px 0;
}